@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');

#root {
  margin: 0;
  text-align: top;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 1em;
} */

.read-the-docs {
  color: #888;
}


.login {
  display: flex;
  margin: auto;
  margin-top: 25vh;
  border: 2px solid #030f1d;
  border-radius: 10px;
  box-sizing: border-box;
  border-width: 3px;
  justify-content: center;
  padding: 50px 30px;
  width: 50%;
  height: 50%;
  align-items: center;
  background-color: #021c36e1;
}

.login input.form-control-lg {
  font-size: 1.2rem;
  padding: 15px;
  width: 40rem;
}

.register {
  display: flex;
  margin: auto;
  margin-top: 18vh;
  border: 2px solid #030f1d;
  border-radius: 10px;
  box-sizing: border-box;
  border-width: 5px;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  position: relative;
  width: 50%;
  background-color: #021c36e1;
}

.register input.form-control-lg {
  font-size: 1.2rem;
  padding: 12px;
  width: 40rem;
}

